/*-----------------Navbar-----------------------*/
nav{
  background-color: #3b3b3b;
}

ul li a{
  margin-right: 10px;
}

nav li a{
  color: white !important;
}

nav li a:hover{
  color: #4287f5 !important;
  cursor: pointer;
}

nav i {
  margin-right: 5px;
}

.navbar .navbar-brand img{
  max-height: 30px !important;
}

.dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu li a{
  color: black !important;
}

.dropdown-menu li a:hover{
  color:white !important;
  background-color: #4287f5;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.dropdown-divider{
  margin-top: 0px;
  margin-bottom: 0px;
}

.dropdown-item{
  padding-top: 7px;
  padding-bottom: 7px;
}

p.dropdown-item{
  margin-bottom: 0px;
}

.navbar-nav{
  align-items: center;
}

.nav-item{
  text-align: center;
}

.navbar-toggler {
  border:none;
  background-color: #4287f5;
}

/*----------------------------------------------------------*/

#rmp{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(Pictures/Background.jpg);
  background-size: cover;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

#map{
  height: 80vh;
  width: 100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.import_gjson label{
  cursor: pointer;
}

.table-info > th{
  background-color: #4287f5;
}
